/*--------------------------------------------------------------
                           Header
--------------------------------------------------------------*/
#theme-header{height: auto;}
header { margin: 0 auto; height: 200px; padding: 0px }
#logo { margin-top: 55px;}
#header-left { width: 400px; float: left }
#header-right { float: right; width: 530px; height: 185px; margin-top: 10px }
#header-right a { color:#ffffff; } 

#header-right-1  { float:right; width:258px; height:185px; }
header .tile { display:block; float:right; margin:2px; width:125px; height:88px; position:relative; background-color:#257CAD; transition: all 300ms ease-out; }
header .tile:hover { background:#5d6da2; background: linear-gradient(135deg, #5d6da2 0%,#5d6da2 50%,#546394 50%,#546394 100%); }
header .tile-title { position:absolute; right:5px; bottom:5px; font-size:10px; font-weight:700; color:#ffffff; }
header .tile-title a { font-weight:700; font-family: Open Sans; text-transform:uppercase; }
header .tile img { margin-top:10px; margin-left:10px; }
#header-right-2 { height:185px; width:270px; float:right; }
header .tile2 { float:right; margin:2px; width:254px; height:88px; position:relative; background-color:#257CAD; font:24px QuicksandBold; text-align:center; color:#ffffff; }
header .tile-avatar { margin-right:7px; border-right:4px solid #ffffff; float:left; }
header .tile-avatar img { width:88px; height:88px; }
header .tile-username { float:left; width:145px; font:18px QuicksandBold; margin-top:6px; text-align:left; }
header .tile-username a { font-size:18px!important; color:#ffffff; }
header .tile-logout { float:left; text-align:left; font:12px Open Sans; }
header .tile-logout a { font-size:10px; text-transform:uppercase; font-weight:700; color:#ffffff; }
header a.tile-messages { margin-top:11px; width:27px; text-align:left; display:block; padding-left:34px; float:right; background-image: url( images/tile-messages.png ); background-position: 0px 3px;background-repeat: no-repeat; }
header .tile-messages a { line-height:24px; }
#header-right-2 { float:right; width:270px; height:88px; }
