/* Plugin para curtir artigos e comentarios */

.action .dislike:before {
  background: url(images/negative-hand.png) no-repeat;
}

.action .like:before {
  background: url(images/positive-hand.png) no-repeat;
}

.action .action-icon:before {
  background-size: 20px;
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
}

.vote-action .like-action-active .action-icon {
  opacity: 1;
}

.vote-action .action-icon {
  opacity: 0.5;
}

#article .action .action-icon {
  top: 3px;
}

#article .like-action .like-action-counter {
  color: #2A8C32;
}

#article .dislike-action .like-action-counter {
  color: #CC0000;
}

