@import url(../base/style.css);

@import url(cabecalho.css);
@import url(user-bar.css);
@import url(style-core.css);
@import url(top-search-bar.css);
@import url(header.css);
@import url(footer.css);
@import url(like_dislike.css);
@import url(blocks/link-list.css);

/****************************************
  INICIO: Definicoes gerais de estrutura
*****************************************/

body, th, td, input {
font-family:  Open Sans;
}

body, #wrap-2{
  background-color: #f6f6f6;
  border: none;
}


#wrap-1 {
  min-width: 800px;
}

.box-1 {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 62%;
}

.controller-home .box-1{
  margin: 0;
  width: 70%;
}

.box-1 .blocks,
 .blocks {
  width: auto;
  float: none;
  padding: 0 1em;
}


.box-2{
  position: relative;
  display: block;
  margin: 0;
  vertical-align: top;
  width: 20%;
}

.controller-home .box-2{
  width: 30%;
}

.box-3{
  min-width: 20%;
}

.box-2 .blocks, .box-3 .blocks{
  padding: 0 1em;
}

/********************
   Relacionado com Busca
********************/

.search-form input[type="text"], #public-profile-search input[type="text"]{
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.controller-search #content form input.button.submit, #content form input.button.submit {
  max-height: 34px;
  cursor: pointer;
  height: 34px;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 16px;
}

.search-form, #public-profile-search {
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  -moz-border-radius: 5px;
  -webkit-border-radius: 0px;
}

.search-field {
  height: 40px;
}

.controller-search .search-results-box {
  float: none;
  width: 100%;
}

#profile-search-results li{
  clear: none;
}
/****************************************
  FIM: Definicoes gerais de estrutura
*****************************************/

/****************************************
  INICIO: Definicoes gerais para os blocos
*****************************************/

#main-content-wrapper-1,
#main-content-wrapper-2,
#main-content-wrapper-3,
#main-content-wrapper-4,
#main-content-wrapper-5,
#main-content-wrapper-6,
#main-content-wrapper-7,
#main-content-wrapper-8 {
	background: url(images/no-image.gif) no-repeat;
}

#main-content-wrapper-8 {
  padding: 10px 20px;
}

#content .block {
  padding-bottom: 1em;
  margin: 0;
}

#content .block .block-inner-1 {
  background-color: #fff;
  box-shadow: 5px 5px 5px -2px #ddd;
}

#content .block .block-inner-2 h3~div {padding:1em;}

#content .box-1 .block,
#content .no-boxes .block{padding: 0;}


/* Cabecalho dos Blocos Laterais*/
#content .block h3.block-title,
#content #content-inner .login-block .logged-user-info h2{
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #AAA;
  padding: 0.5em;
  background-color: #257CAD;
  color: white;
  font-variant: inherit;
}

/* Cabecalho dos Blocos Principais */
#content .box-1 .block h3.block-title,
#content .no-boxes .block h3.block-title {
	color: #333;
	font-size: 16px;
	text-align: left;
	border-bottom: 0px solid #AAA;
	padding: 0px;
	background-color: transparent;
}

/****************************************
  FIM: Definicoes gerais para os blocos
*****************************************/
