#top-search-bar { border-bottom: 1px solid #eaeaea; height: 30px; font-family: 'Open Sans'; color: #4D4D4D; }
#top-search-bar .hide{  display: none;}
#top-search-bar ul { margin: 0px; padding-bottom: 10px; list-style-type:none; list-style-position:outside; background:#ffffff; }
#top-search-bar ul a:link, #top-search-bar ul a:active, #top-search-bar ul a:visited { display:block; padding:0; text-decoration:none; }
#top-search-bar ul li { display: inline-block; position:relative; background:none; padding:5px 12px; transition: all 300ms ease-in; }
#top-search-bar ul li:hover { background:#257CAD; color: white; text-shadow: none; }
#top-search-bar ul li a:hover { color: white; }
#top-search-bar ul li.last { transition: none; }
#top-search-bar ul li.last:hover { background: none; color: inherit;}
