<div id="top-search-bar" >
  <ul id="top-search-bar-content">
    <li><a href='https://www.serpro.gov.br/' target="_blank">Portal Serpro</a></li>
    <li><a href='http://www.suporteservico.serpro/spekxprod/psp_acionamento_intranet' target="_blank">Central de Serviços Serpro (CSS)</a></li>
    <li><a href='https://prodsgp.serpro/prodsgp/home.jsp' target="_blank">Sistema de Gestão de Pessoas (SGP)</a></li>
    <li><a href='https://sgi.portalcorporativo.serpro/' target="_blank">Sistema de Gestão de Informações (SGI)</a></li>
    <li><a href='https://expresso.serpro.gov.br/' target="_blank">Expresso</a></li>
    <li class='hide'><a href='https://expressodrive.serpro.gov.br/'>Expresso Drive</a></li>
    <li class='hide'><a href='https://mantis.serpro.gov.br/'>Mantis</a></li>
    <li class='hide'><a href='http://sisted.portalcorporativo.serpro/'>Sistema de Educação, Treinamento e Desenvolvimento (SISTED)</a></li>
    <li class='hide'><a href='http://www.suporteservico.serpro/'>Sistema para controle de chamados (SPEKX)</a></li>
    <li class='hide'><a href='https://svpc.portalcorporativo.serpro/'>Solicitação de Viagem e Prestação de Contas</a></li>
    <li class='hide'><a href='http://www.siapenet.gov.br/'>Administração de RH</a></li>
    <li class='hide'><a href='http://psds.portalcorporativo.serpro/'>Processo SERPRO de Desenvolvimento de Soluções</a></li>
    <li class='hide'><a href='https://srhweb.portalcorporativo.serpro/'>Sistema de Recursos Humanos</a></li>
    <li class='hide'><a href='http://gfct.portalcorporativo.serpro/fct/'>Função Comissionada Técnica</a></li>
    <li class='hide'><a href='http://siscop.portalcorporativo.serpro/'>Controle de Frequencia</a></li>
    <li class='hide'><a href='http://sinor.portalcorporativo.serpro/'>Informações Normativas</a></li>
    <li class='hide'><a href='https://siscor.portalcorporativo.serpro'>Sistema Siscor</a></li>
    <li class='hide'><a href='http://gfct.portalcorporativo.serpro/gfc/'>Gratificação Função Comissionada</a></li>
    <li class='hide'><a href='https://hisaq.portalcorporativo.serpro/'>Histórico de Aquisições</a></li>
    <li class='hide'><a href='https://oryx.serpronet.serpro'>Portfólio e Ferramenta de Modelagem de Processos</a></li>
    <li class='hide'><a href='https://portfoliodeprojetos.serpro.gov.br'>ecar - Controle Acompanhamento e Avaliação de Resultados</a></li>
    <li class='hide'><a href='https://acessoweb.portalcorporativo.serpro'>ACESSO - Sistema de Controle de Acesso</a></li>
    <li class='hide'><a href='http://serpronet.serpro/diversos/sistemas-corporativos/infoserpro'>Informações Gerenciais</a></li>
    <li class='hide'><a href='http://psgis.serpronet.serpro/'>Processo Serpro de Gerenciamento Integrado de Serviços</a></li>
    <li class='hide'><a href='http://sipes.portalcorporativo.serpro/'>SIPES - Sistema Integrado de Patrimônio e Estoque</a></li>
    <li class='hide'><a href='http://dotproject.serpronet.serpro'>Ferramenta Corporativa de Cronograma</a></li>
    <li class='hide'><a href='https://sgdes.portalcorporativo.serpro'>GDES - Gerenciamento do Desempenho dos Empregados do Serpro</a></li>
    <li class='hide'><a href='http://agendanacional.portalcorporativo.serpro'>Agenda Nacional</a></li>
    <li class='hide'><a href='http://www.gedig.serpro/'>Gerenciamento Eletrônico de Documentos Digitalizados</a></li>
    <li class='hide'><a href='https://gmpsds.serpronet.serpro'>GM PSDS</a></li>
    <li class='last'>
      <label for="search">Pesquisar: </label>
      <input placeholder="palavra chave" id="top-search-bar-input" type="text" />
    </li>
  </ul>

  <script>
    (function ($, document, window) {
      var availableTags = [ ];
      $('#top-search-bar-content li a').each(function(){
         availableTags.push({ label: $(this).text(), value: $(this).attr('href')});
       });

      $( "#top-search-bar-input" ).autocomplete({
        source: availableTags,
        select: function( event, ui ) { window.open(ui.item['value' ], '_blank'); }
      });
    }(jQuery, document, this));
  </script>

  <br/> 
</div>
