<div id="menu" class="hidden-print sidebar-default sidebar-brand-primary">

      <div id="sidebar-social-wrapper" class="hasNiceScroll" tabindex="5000" style="overflow-y: hidden; outline: none;">
  <div id="brandWrapper">
    <a href="index.html?lang=en&amp;v=v1.0.1-rc4"><span class="text">Social Admin Template</span></a>
  </div>
  <ul class="menu list-unstyled" id="navigation_current_page">
    <li class="category">Navigation</li>
<li class="hasSubmenu">
  <a href="#sidebar-fusion-layout" data-toggle="collapse"><i class="icon-tv"></i><span>Layout</span></a>
  <ul id="sidebar-fusion-layout" class="collapse">
    <li class="active">
      <a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;layout_fixed=false"><i class="fa fa-circle-o"></i><span>Fluid Layout</span>
      </a>
    </li>

    <li>
      <a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;layout_fixed=true"><i class="fa fa-square-o"></i><span>Fixed Layout</span>
      </a>
    </li>
  </ul>
</li>

<li class="hasSubmenu active">
  <a href="#sidebar-fusion-timelines" data-toggle="collapse"><i class="icon-ship-wheel"></i><span>Timelines</span></a>
  <ul id="sidebar-fusion-timelines" class="collapse in">
    <li class="active"><a href="index.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-clock-o"></i><span>Timeline #1</span></a></li>
    <li><a href="timeline_2.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-clock-o"></i><span>Timeline #2</span></a></li>
    <li><a href="timeline_3.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-clock-o"></i><span>Timeline #3</span></a></li>
  </ul>
</li>
<li class="hasSubmenu">
  <a href="#sidebar-fusion-media" data-toggle="collapse"><i class="icon-flip-camera-fill"></i><span>Photos</span></a>
  <ul id="sidebar-fusion-media" class="collapse">
    <li><a href="media_1.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-camera"></i><span>Photos #1</span></a></li>
    <li><a href="media_2.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-camera"></i><span>Photos #2</span></a></li>
    <li><a href="media_3.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-camera"></i><span>Photos #3</span></a></li>
  </ul>
</li>

<li class="hasSubmenu">
  <a href="#sidebar-fusion-contacts" data-toggle="collapse"><i class="icon-group"></i><span>Friends</span></a>
  <ul id="sidebar-fusion-contacts" class="collapse">
    <li><a href="contacts_1.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-group"></i><span>Friends #1</span></a></li>
    <li><a href="contacts_2.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-group"></i><span>Friends #2</span></a></li>
    <li><a href="contacts_3.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-group"></i><span>Friends #3</span></a></li>
  </ul>
</li>

<li class="hasSubmenu">
  <a href="#sidebar-fusion-about" data-toggle="collapse"><i class="icon-user-1"></i><span>About</span></a>
  <ul id="sidebar-fusion-about" class="collapse">
    <li><a href="about_1.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-user"></i><span>About #1</span></a></li>
    <li><a href="about_2.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-user"></i><span>About #2</span></a></li>
    <li><a href="about_3.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-user"></i><span>About #3</span></a></li>
  </ul>
</li>

<li><a href="messages.html?lang=en&amp;v=v1.0.1-rc4"><i class="icon-comment-typing"></i><span>Messages</span></a></li>

<li class="category border-top">Skins</li>
<li class="reset">
  <div class="innerLR innerB border-bottom">
    <ul class="colors hidden-xs">
            <li class="active"><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=style-default" style="background-color: #25ad9f" class="no-ajaxify innerAll half"><span class="hide">style-default</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=green-army" style="background-color: #9FB478" class="no-ajaxify innerAll half"><span class="hide">green-army</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=alizarin-crimson" style="background-color: #F06F6F" class="no-ajaxify innerAll half"><span class="hide">alizarin-crimson</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=blue-gray" style="background-color: #5577b4" class="no-ajaxify innerAll half"><span class="hide">blue-gray</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=brown" style="background-color: #d39174" class="no-ajaxify innerAll half"><span class="hide">brown</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=purple-gray" style="background-color: #AF86B9" class="no-ajaxify innerAll half"><span class="hide">purple-gray</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=purple-wine" style="background-color: #CC6788" class="no-ajaxify innerAll half"><span class="hide">purple-wine</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=black-and-white" style="background-color: #979797" class="no-ajaxify innerAll half"><span class="hide">black-and-white</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=amazon" style="background-color: #8BC4B9" class="no-ajaxify innerAll half"><span class="hide">amazon</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=amber" style="background-color: #b0b069" class="no-ajaxify innerAll half"><span class="hide">amber</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=android-green" style="background-color: #A9C784" class="no-ajaxify innerAll half"><span class="hide">android-green</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=antique-brass" style="background-color: #B3998A" class="no-ajaxify innerAll half"><span class="hide">antique-brass</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=antique-bronze" style="background-color: #8D8D6E" class="no-ajaxify innerAll half"><span class="hide">antique-bronze</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=artichoke" style="background-color: #B0B69D" class="no-ajaxify innerAll half"><span class="hide">artichoke</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=atomic-tangerine" style="background-color: #F19B69" class="no-ajaxify innerAll half"><span class="hide">atomic-tangerine</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=bazaar" style="background-color: #98777B" class="no-ajaxify innerAll half"><span class="hide">bazaar</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=bistre-brown" style="background-color: #C3A961" class="no-ajaxify innerAll half"><span class="hide">bistre-brown</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=green" style="background-color: #77ac40" class="no-ajaxify innerAll half"><span class="hide">green</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=bittersweet" style="background-color: #d6725e" class="no-ajaxify innerAll half"><span class="hide">bittersweet</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=blueberry" style="background-color: #7789D1" class="no-ajaxify innerAll half"><span class="hide">blueberry</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=bud-green" style="background-color: #6fa362" class="no-ajaxify innerAll half"><span class="hide">bud-green</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=coral" style="background-color: #7eccc2" class="no-ajaxify innerAll half"><span class="hide">coral</span></a></li>
            <li><a href="?module=admin&amp;page=index&amp;url_rewrite=&amp;lang=en&amp;v=v1.0.1-rc4&amp;skin=burnt-sienna" style="background-color: #E4968A" class="no-ajaxify innerAll half"><span class="hide">burnt-sienna</span></a></li>
          </ul>
  </div>
</li>

<li class="hasSubmenu">
  <a href="#sidebar-fusion-components" data-toggle="collapse"><i class="fa fa-th-large"></i><span>Components</span></a>
  <ul id="sidebar-fusion-components" class="collapse">
    <li class=""><a href="ui.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> UI Elements</a></li>
    <li class=""><a href="icons.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Icons</a></li>
    <li class=""><a href="typography.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Typography</a></li>
    <li class=""><a href="calendar.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Calendar</a></li>
    <li class=""><a href="tabs.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Tabs</a></li>
    <li class="hasSubmenu">
      <a href="#menu_tables" data-toggle="collapse"><span class="badge badge-primary pull-right">3</span><i class="fa fa-circle-o"></i> Tables</a>
      <ul class="collapse" id="menu_tables">
        <li class=""><a href="tables.html?lang=en&amp;v=v1.0.1-rc4">Tables</a></li>
        <li class=""><a href="tables_responsive.html?lang=en&amp;v=v1.0.1-rc4">Responsive Tables</a></li>
        <li class=""><a href="pricing_tables.html?lang=en&amp;v=v1.0.1-rc4">Pricing Tables</a></li>
      </ul>
    </li>
    <li class="hasSubmenu">
      <a href="#menu_forms" data-toggle="collapse"><span class="badge badge-primary pull-right">4</span><i class="fa fa-circle-o"></i> Forms</a>
      <ul class="collapse" id="menu_forms">
        <li class=""><a href="form_wizards.html?lang=en&amp;v=v1.0.1-rc4">Form Wizards</a></li>
        <li class=""><a href="form_elements.html?lang=en&amp;v=v1.0.1-rc4">Form Elements</a></li>
        <li class=""><a href="form_validator.html?lang=en&amp;v=v1.0.1-rc4">Form Validator</a></li>
        <li class=""><a href="file_managers.html?lang=en&amp;v=v1.0.1-rc4">File Managers</a></li>
      </ul>
    </li>
    <li class=""><a href="sliders.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Sliders</a></li>
    <li class=""><a href="charts.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Charts</a></li>
    <li class=""><a href="grid.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Grid</a></li>
    <li class=""><a href="notifications.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Notifications</a></li>
    <li class=""><a href="modals.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Modals</a></li>
    <li class=""><a href="thumbnails.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Thumbnails</a></li>
    <li class=""><a href="carousels.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Carousels</a></li>
    <li class=""><a href="image_crop.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Image Cropping</a></li>
    <li class=""><a href="twitter.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Twitter API</a></li>
    <li class=""><a href="infinite_scroll.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-circle-o"></i> Infinite Scroll</a></li>
  </ul>
</li>

<li class="hasSubmenu">
  <a href="#sidebar-fusion-extra" data-toggle="collapse"><i class="fa fa-gift"></i><span>Extra</span></a>
  <ul id="sidebar-fusion-extra" class="collapse">
    
    <li class="hasSubmenu">
      <a href="#sidebar-fusion-dashboard" data-toggle="collapse"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      <ul id="sidebar-fusion-dashboard" class="collapse">
        <li><a href="dashboard_analytics.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-bar-chart-o"></i> Analytics</a></li>
        <li><a href="dashboard_users.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-user"></i> Users</a></li>
        <li><a href="dashboard_overview.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-dashboard"></i> Overview</a></li>
      </ul>
    </li>
    
    <li class="hasSubmenu">
      <a href="#sidebar-fusion-email" class="glyphicons envelope" data-toggle="collapse"><i></i><span class="badge pull-right badge-primary">30</span><span>Email</span></a>
      <ul id="sidebar-fusion-email" class="animated fadeIn collapse">
        <li><a href="email.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-envelope"></i> Inbox</a></li>
        <li><a href="email_compose.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-pencil"></i> Compose</a></li>
      </ul>
    </li>

    <li><a href="events.html?lang=en&amp;v=v1.0.1-rc4" class="glyphicons google_maps"><i></i><span class="badge pull-right badge-primary">5</span><span>Events</span></a></li>

    <li class="hasSubmenu">
      <a href="#sidebar-fusion-maps" class="glyphicons google_maps" data-toggle="collapse"><i></i><span>Maps</span></a>
      <ul id="sidebar-fusion-maps" class="animated fadeIn collapse">
        <li><a href="maps_vector.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-map-marker"></i> Vector Maps</a></li>
        <li><a href="maps_google.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-map-marker"></i> Google Maps</a></li>
      </ul>
    </li>

    <li><a href="employees.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-user"></i><span>Employees</span></a></li>

    <li class="hasSubmenu">
      <a href="#sidebar-fusion-medical" data-toggle="collapse" class="glyphicons circle_plus"><i></i><span>Medical</span></a>
      <ul id="sidebar-fusion-medical" class="animated fadeIn collapse">
        <li class="">
          <a href="medical_overview.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-medkit"></i> Overview</a>
        </li>
        <li class="">
          <a href="medical_patients.html?lang=en&amp;v=v1.0.1-rc4"><span class="badge pull-right badge-primary">2</span><i class="fa fa-user-md"></i> Patients</a>
        </li>
        <li class="">
          <a href="medical_appointments.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-stethoscope"></i> Appointments</a>
        </li>
        <li class="">
          <a href="medical_memos.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-file-text-o"></i> Memos</a>
        </li>
        <li class="border-bottom-none">
          <a href="medical_metrics.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-bar-chart-o"></i> Metrics</a>
        </li>
      </ul>
    </li>

    <li class="hasSubmenu">
      <a href="#sidebar-fusion-learning" data-toggle="collapse" class="glyphicons crown"><i></i><span>Courses</span></a>
      <ul id="sidebar-fusion-learning" class="collapse">
        <li class=""><a href="courses_2.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-book"></i><span>Courses Home</span></a></li>
        <li class=""><a href="courses_listing.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-book"></i><span>Courses Listing</span></a></li>
        <li class=""><a href="course.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-book"></i><span>Course page</span></a></li>
      </ul>
    </li>

    <li class="hasSubmenu">
      <a href="#sidebar-fusion-content" data-toggle="collapse" class="glyphicons notes_2"><i></i><span>Content</span></a>
      <ul id="sidebar-fusion-content" class="collapse">
        <li><a href="news.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-file-text"></i> News</a></li>
        <li><a href="faq.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-question-circle"></i> FAQ</a></li>
        <li><a href="search.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-search"></i> Search</a></li>
      </ul>
    </li>

    <li class="hasSubmenu">
      <a href="#sidebar-fusion-financial" data-toggle="collapse" class="glyphicons calculator"><i></i><span>Financial</span></a>
      <ul id="sidebar-fusion-financial" class="animated fadeIn collapse">
        <li><a href="invoice.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-file-text-o"></i> Invoice</a></li>
        <li><a href="finances.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-legal"></i> Finances</a></li>
        <li><a href="bookings.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-ticket"></i> Bookings</a></li>
      </ul>
    </li>

    <li class="hasSubmenu">
      <a href="#sidebar-fusion-support" data-toggle="collapse" class="glyphicons life_preserver"><i></i><span>Support</span></a>
      <ul id="sidebar-fusion-support" class="collapse">
        <li><a href="support_tickets.html?lang=en&amp;v=v1.0.1-rc4"><span class="badge pull-right badge-primary">45</span><i class="fa fa-ticket"></i><span>Tickets</span></a></li>
        <li><a href="support_forum_overview.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-folder-o"></i><span>Forum overview</span></a></li>
        <li><a href="support_forum_post.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-folder-o"></i><span>Forum post</span></a></li>
        <li><a href="support_kb.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-file-text-o"></i><span>Knowledge Base</span></a></li>
        <li><a href="support_questions.html?lang=en&amp;v=v1.0.1-rc4"><span class="badge pull-right badge-primary">7</span><i class="fa fa-question"></i><span>Questions</span></a></li>
        <li><a href="support_answers.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-info"></i><span>Answers</span></a></li>
      </ul>
    </li>

    <li class="hasSubmenu">
      <a href="#sidebar-fusion-shop" data-toggle="collapse" class="glyphicons shopping_cart"><i></i><span>eCommerce</span></a>
      <ul id="sidebar-fusion-shop" class="collapse">
        <li><a href="shop_products.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-list"></i><span>Products</span></a></li>
        <li><a href="shop_edit_product.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-edit"></i><span>Edit product</span></a></li>
      </ul>
    </li>

    <li class="hasSubmenu">
      <a href="#sidebar-fusion-account" data-toggle="collapse" class="glyphicons user"><i></i><span>Account</span></a>
      <ul id="sidebar-fusion-account" class="animated fadeIn collapse">
        <li><a href="login.html?lang=en&amp;v=v1.0.1-rc4" class="no-ajaxify"><i class="fa fa-lock"></i> Login</a></li>
        <li><a href="signup.html?lang=en&amp;v=v1.0.1-rc4" class="no-ajaxify"><i class="fa fa-pencil"></i> Signup</a></li>
      </ul>
    </li>

    <li><a href="surveys_multiple.html?lang=en&amp;v=v1.0.1-rc4" class="glyphicons turtle no-ajaxify"><i></i><span>Surveys</span></a></li>

    <li><a href="error.html?lang=en&amp;v=v1.0.1-rc4" class="glyphicons warning_sign"><i></i><span>Error</span></a></li>

  </ul>
</li>

<li class="hasSubmenu">
  <a href="#sidebar-fusion-example" data-toggle="collapse"><span class="badge pull-right badge-primary">4</span><i class="fa fa-stack-exchange"></i><span>Submenus</span></a>
  <ul id="sidebar-fusion-example" class="collapse">
    <li><a href=""><i class="fa fa-flash"></i><span>Active</span></a></li>
    <li><a href=""><i class="fa fa-male"></i><span>Menu item</span></a></li>
    <li><a href=""><i class="fa fa-comments-o"></i><span>Menu item</span></a></li>
    <li class="menu hasSubmenu">
      <a href="#submenu" data-toggle="collapse"><span class="badge pull-right badge-primary">3</span><i class="fa fa-envelope"></i><span>2nd level</span></a>
      <ul class="collapse menu" id="submenu">
        <li><a href=""><i class="fa fa-circle-o"></i><span>Menu item</span></a></li>
        <li><a href=""><i class="fa fa-circle-o"></i><span>Menu item</span></a></li>
        <li><a href=""><i class="fa fa-circle-o"></i><span>Menu item</span></a></li>
      </ul>
    </li>
  </ul>
</li>

<li class="category">News Feeds</li>
<li class="reset">
  <ul>
    <li class="media news-item">
      <span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
      <span class="pull-left media-object">
        <i class="fa fa-fw fa-bell"></i>
      </span>
      <div class="media-body">
         <a href="" class="text-white">Adrian</a> just logged in
         <span class="time">2 min ago</span>
      </div>
    </li>
    <li class="media news-item">
      <span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
      <span class="pull-left media-object">
        <i class="fa fa-fw fa-bell"></i>
      </span>
      <div class="media-body">
         <a href="" class="text-white">Adrian</a> just added  <a href="" class="text-white">mosaicpro</a> as their office
         <span class="time">2 min ago</span>
      </div>
    </li>
    <li class="media news-item">
      <span class="pull-left media-object">
        <i class="fa fa-fw fa-bell"></i>
      </span>
      <div class="media-body">
         <a href="" class="text-white">Adrian</a> just logged in
         <span class="time">2 min ago</span>
      </div>
    </li>
    <li class="media news-item">
      <span class="pull-left media-object">
        <i class="fa fa-fw fa-bell"></i>
      </span>
      <div class="media-body">
         <a href="" class="text-white">Adrian</a> just logged in
         <span class="time">2 min ago</span>
      </div>
    </li>
    <li class="media news-item">  
      <span class="pull-left media-object">
        <i class="fa fa-fw fa-bell"></i>
      </span>
      <div class="media-body">
         <a href="" class="text-white">Adrian</a> just logged in
         <span class="time">2 min ago</span>
      </div>
    </li>
  </ul>
</li>
<li class="category">Filter</li>
<li class="reset">
  <div class="innerLR innerB">
    <ul>
      <li><a href=""><span class="fa fa-fw fa-circle-o text-success"></span> Work Related</a></li>
      <li><a href=""><span class="fa fa-fw fa-circle-o text-primary"></span> Very Important</a></li>
      <li><a href=""><span class="fa fa-fw fa-circle-o text-info"></span> Friends &amp; Family</a></li>
    </ul>
  </div>
</li>
  </ul>
</div>




      
    <div id="ascrail2000" class="nicescroll-rails" style="width: 5px; z-index: 2; cursor: default; position: absolute; top: 0px; left: 245px; height: 518px; display: block; opacity: 0;"><div style="position: relative; top: 0px; float: right; width: 5px; height: 227px; background-color: rgb(37, 173, 159); border: none; background-clip: padding-box; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;"></div></div></div>
