<div class="navbar hidden-print navbar-default box main" role="navigation">
  
  <div class="user-action user-action-btn-navbar pull-right border-left">
    <a href="#menu-right" class="btn btn-sm btn-navbar btn-open-right"><i class="fa fa-comments fa-2x"></i></a>
  <div id="chat-notification" data-menu="menu-right" data-toggle="sidr-open" style="">New message from <strong>Mr.Awesome</strong></div></div>
  <div class="user-action user-action-btn-navbar pull-left">
    <a href="#menu" class="btn btn-sm btn-navbar btn-open-left"><i class="fa fa-bars fa-2x"></i></a>
  </div>

  <ul class="notifications pull-left hidden-xs">
    <li class="dropdown notif">
      <a href="" class="dropdown-toggle dropdown-hover" data-toggle="dropdown"><i class="notif-block icon-envelope-1"></i><span class="fa fa-star"></span></a>
      <ul class="dropdown-menu chat media-list">
        <li class="media">
          <a class="pull-left" href="#"><img class="media-object thumb" src="http://cdn.mosaicpro.biz/social/php/assets/images/people/100/15.jpg" alt="50x50" width="50"></a>
          <div class="media-body">
                <span class="label label-default pull-right">5 min</span>
                  <h5 class="media-heading">Adrian D.</h5>
                  <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
        </li>
            <li class="media">
                <a class="pull-left" href="#"><img class="media-object thumb" src="http://cdn.mosaicpro.biz/social/php/assets/images/people/100/16.jpg" alt="50x50" width="50"></a>
          <div class="media-body">
                  <span class="label label-default pull-right">2 days</span>
                  <h5 class="media-heading">Jane B.</h5>
                  <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </li>
          <li class="media">
                <a class="pull-left" href="#"><img class="media-object thumb" src="http://cdn.mosaicpro.biz/social/php/assets/images/people/100/17.jpg" alt="50x50" width="50"></a>
              <div class="media-body">
            <span class="label label-default pull-right">3 days</span>
                  <h5 class="media-heading">Andrew M.</h5>
                  <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </li>
          </ul>
    </li>
  </ul>

  <div class="user-action pull-left menu-right-hidden-xs menu-left-hidden-xs border-left">
    <div class="dropdown username pull-left">
      <a class="dropdown-toggle dropdown-hover" data-toggle="dropdown" href="#">
        <span class="media margin-none">
          <span class="pull-left"><img src="http://cdn.mosaicpro.biz/social/php/assets/images/people/100/16.jpg" alt="user" class="img-circle"></span>
          <span class="media-body">Bill <span class="caret"></span></span>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="about_1.html?lang=en&amp;v=v1.0.1-rc4">About</a></li>
        <li><a href="messages.html?lang=en&amp;v=v1.0.1-rc4">Messages</a></li>
        <li><a href="timeline_3.html?lang=en&amp;v=v1.0.1-rc4">Profile</a></li>
        <li><a href="login.html?lang=en&amp;v=v1.0.1-rc4">Logout</a></li>
        </ul>
    </div>
  </div>
  <div class="input-group hidden-xs pull-left">
      <span class="input-group-addon"><i class="icon-search"></i></span>
      <input type="text" class="form-control" placeholder="Search a friend">
  </div>
</div>


<script src="http://cdn.mosaicpro.biz/shared/components/library/bootstrap/js/bootstrap.min.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/plugins/breakpoints/breakpoints.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/plugins/preload/pace/pace.min.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/plugins/preload/pace/pace.min.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/modules/admin/twitter/assets/js/twitter.init.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/plugins/holder/holder.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/common/gallery/gridalicious/assets/lib/jquery.gridalicious.min.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="../assets/components/common/gallery/gridalicious/assets/custom/gridalicious.init.js?v=v1.0.1-rc4"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/modules/admin/maps/google/assets/custom/maps-google.init.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false&amp;callback=initGoogleMaps"></script>
<script src="http://maps.gstatic.com/maps-api-v3/api/js/18/16/intl/pt_br/main.js"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/modules/admin/modals/assets/js/bootbox.min.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="../assets/components/core/js/sidebar.main.init.js?v=v1.0.1-rc4"></script>
<script src="../assets/components/core/js/sidebar.collapse.init.js?v=v1.0.1-rc4"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/common/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/common/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="../assets/components/modules/admin/menus/menus.sidebar.chat.init.js?v=v1.0.1-rc4"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/plugins/mixitup/jquery.mixitup.min.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="http://cdn.mosaicpro.biz/shared/components/plugins/mixitup/mixitup.init.js?v=v1.0.1-rc4&amp;sv=v0.0.1.1"></script>
<script src="../assets/components/core/js/core.init.js?v=v1.0.1-rc4"></script>

