#content .link-list-block{padding: 0;}

#content .link-list-block li{margin: 0;}

#content .link-list-block li a {
	border-radius: 0;
	padding: 10px 5px 10px 40px;
	border-bottom: 1px solid #ccc;
	background-color: #f7f9fa;
	border-left: 3px solid #f7f9fa;
}

/*bloco lateral de menu*/
#content .link-list-block li a.link-this-page{
	max-width:100%;
	width: auto;
	border-right: 0px;
	background-color: #257CAD;
	color: white;
	border-left: 3px solid #fff;
}

#content .link-list-block li a.link-this-page:hover,
#content .link-list-block li a:hover {
	background-color: #257CAD;
	border-left: 3px solid #fff;
	border-right: 0px solid #fff;
}

